
<p-toast></p-toast>
<p-card class="m-2" header="Update Category Data">
    <form (ngSubmit)="updateCategory()" #categoryForm="ngForm">
      <div class="p-grid">
        <div class="col-3">
          <div class="p-field">
            <label for="name">Category Name</label><br>
            <input type="text" class="w-12" pInputText name="name" [(ngModel)]="category.name" required>
          </div>
        </div>
      </div>
      <div class="col-2">
        <button type="submit" icon="pi pi-save" pButton class="btn btn-primary" label="Update Category"></button>
      </div>
    </form>
</p-card>
  