<p-toast></p-toast>
<p-card header="Create Categories Data">
  <form [formGroup]="categoriesForm" class="p-fluid">
    <div class="p-grid">
      <div class="p-col-6">
        <div class="p-field col-3">
          <label for="name">Category Name</label>
          <input
            type="text"
            id="name"
            formControlName="name"
            class="p-inputtext"
          />
        </div>
      </div>
    </div>
    <div class="col-2">
      <p-button icon="pi pi-save" label="Create Category" class="p-button-primary"  (click)="onSubmit()"></p-button>
    </div>
  </form>
</p-card>
<p-messages [(value)]="messages" [enableService]="false" [closable]="false"></p-messages>
