<a [routerLink]="['/attributes/create']">User Profile</a>
<div class="container">
  <h2>Attributes List</h2>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Values</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let attribute of attributes; let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ attribute.name }}</td>
        <td>
          <select class="form-control">
            <option *ngFor="let value of attribute.values" [value]="value">
              {{ value }}
            </option>
          </select>
        </td>
      </tr>
    </tbody>
  </table>  
</div>

