<p-toast></p-toast>
<p-confirmDialog #cd [style]="{width: '40vw'}">
    <ng-template pTemplate="header">
        <h3>Delete Product</h3>
    </ng-template>
    <ng-template pTemplate="footer">
        <button type="button" pButton icon="pi pi-times" label="No" (click)="cd.reject()"></button>
        <button type="button" pButton icon="pi pi-check" label="Yes" (click)="cd.accept()"></button>
    </ng-template>
</p-confirmDialog>
<div class="grid m-2">
    <div class="col-12">
        <div class="card">
            <p-table [value]="products" [scrollable]="true" scrollHeight="500px" [paginator]="true" [rows]="10" [rowsPerPageOptions]="[10, 20, 50]"
            [style]="{ 'min-width': '50rem' }">
                <ng-template pTemplate="caption">
                    <div class="flex">
                        <button pButton icon="pi pi-plus" label="Add Product" [routerLink]="['/products/create']"
                            pTooltip="Add Product" tooltipPosition="top"></button>
                        <span class="p-input-icon-left ml-auto">
                            <i class="pi pi-search"></i>
                            <input [(ngModel)]="searchText" pInputText (input)="filterTable()" placeholder="Search by name,description" />
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th>Id</th>
                        <th pSortableColumn="name">Name <p-sortIcon field="name"></p-sortIcon></th>
                        <th pSortableColumn="description">Description <p-sortIcon field="description"></p-sortIcon></th>
                        <th pSortableColumn="categoryId">Category <p-sortIcon field="categoryId"></p-sortIcon></th>
                        <th pSortableColumn="name">Attributes Name<p-sortIcon field="name"></p-sortIcon></th>
                        <!-- <th pSortableColumn="values">Attributes Values<p-sortIcon field="values"></p-sortIcon></th> -->
                        <th>Action</th>
                    </tr>
                </ng-template>

                <ng-template pTemplate="body" let-product let-i="rowIndex">
                    <tr [pSelectableRow]="product">
                        <td>{{ i + 1 }}</td>
                        <td>{{ product.name }}</td>
                        <td>{{ product.description }}</td>
                        <td>{{ selectedCategoryName(product.categoryId) }}</td>
                        <td>
                            <ul>
                                <li *ngFor="let attribute of product.attributes">
                                    {{ attribute.name }}
                                </li>
                            </ul>
                        </td>
                        <!-- <td>
                            <ul>
                                <li *ngFor="let attribute of product.attributes">
                                    {{ attribute.values.join(', ') }}
                                </li>
                            </ul>
                        </td> -->
                        <td>
                            <button pButton icon="pi pi-pencil" class="m-2" pTooltip="Edit"
                            (click)="editProduct(product.id)" tooltipPosition="top"></button>
                            <button pButton icon="pi pi-trash" class="m-2" pTooltip="Delete"
                            (click)="deleteProduct(product.id)" tooltipPosition="top"></button>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                      <td colspan="6" style="text-align:center">No data found.</td>
                    </tr>
                  </ng-template>
            </p-table>
        </div>
    </div>
</div>