<p-toast></p-toast>
<p-confirmDialog #cd [style]="{width: '40vw'}">
    <ng-template pTemplate="header">
        <h3>Delete Categories</h3>
    </ng-template>
    <ng-template pTemplate="footer">
        <button type="button" pButton icon="pi pi-times" label="No" (click)="cd.reject()"></button>
        <button type="button" pButton icon="pi pi-check" label="Yes" (click)="cd.accept()"></button>
    </ng-template>
</p-confirmDialog>

<div class="grid m-2">
  <div class="col-12">
    <div class="card">
        <p-table [value]="filteredcategories" [scrollable]="true" scrollHeight="500px" [paginator]="true" [rows]="10" [rowsPerPageOptions]="[10, 20, 50]"
          [style]="{ 'min-width': '50rem' }">
          <ng-template pTemplate="caption">
            <div class="flex">
              <button pButton icon="pi pi-plus" label="Add Category" [routerLink]="['/categories/create']" pTooltip="Add Category"
              tooltipPosition="top"></button>                
              <span class="p-input-icon-left ml-auto">
                    <i class="pi pi-search"></i>
                    <input [(ngModel)]="globalFilter" pInputText (input)="filterCategories()" placeholder="Search" />
                  </span>
            </div>
        </ng-template>
          <ng-template pTemplate="header">
            <tr>
              <th>ID </th>
              <th pSortableColumn="name">Name <p-sortIcon field="name"></p-sortIcon></th>
              <th>Action</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-categories let-i="rowIndex">
            <tr>
              <td>{{ i + 1 }}</td>
              <td>{{ categories.name }}</td>
              <td>
                <button pButton icon="pi pi-pencil" class="m-2" pTooltip="Edit" tooltipPosition="top"
                  (click)="editCategories(categories.id)"></button>
                <button pButton icon="pi pi-trash" class="m-2" pTooltip="Delete" tooltipPosition="top"
                  (click)="deleteCategories(categories.id)"></button>
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage">
            <tr>
              <td colspan="4" style="text-align:center">No data found.</td>
            </tr>
          </ng-template>
        </p-table>
      </div>
  </div>
</div>
