<p-toast></p-toast>
<p-card header="Create Attributes Data">
<form [formGroup]="attributeForm" class="p-fluid">
  <div class="p-grid">
    <div class="p-col-6">
      <div class="p-field col-3">
        <label for="name">Attribute Name</label>
        <input
          type="text"
          id="name"
          formControlName="name"
          class="p-inputtext"
        />
      </div>
    </div>
    <div class="p-col-6">
      <div class="p-field col-3">
        <label for="values">Attribute Values</label>
        <p-multiSelect
          appendTo="body"
          id="values"
          formControlName="values"
          [options]="attributeValues"
          defaultLabel="Select Values"
          [panelStyle]="{ 'max-height': '30rem' }"
        >
        </p-multiSelect>
      </div>
    </div>
  </div>
  <div class="col-2">
    <p-button icon="pi pi-save" label="Create Attribute" class="p-button-primary"  (click)="onSubmit()"></p-button>
  </div>
</form>
</p-card>
<p-messages [(value)]="messages" [enableService]="false" [closable]="false"></p-messages>



  